{% extends 'dummy.html' %}
{% block body_block %}
     <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://images.pexels.com/photos/292999/pexels-photo-292999.jpeg" height="650px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg" height="650px" class="d-block w-100" alt="...">
        </div>


        <div class="carousel-item">
          <img src="https://pbs.twimg.com/media/FBY0AfEVgAUU8km.jpg:large" height="650px" class="d-block w-100" alt="...">
        </div>


         <div class="carousel-item">
          <img src="https://img.clasf.in/2020/05/27/Men-Shoe-Sale-Best-Deals-on-Vostro-Men-Shoes-Get-60-20200527064628.5657020015.jpg" height="650px" class="d-block w-100" alt="...">
        </div>


        <div class="carousel-item">
          <img src="https://www.shutterstock.com/shutterstock/photos/1563094021/display_1500/stock-vector-promotion-ads-sale-banner-shoe-advertisement-discount-offer-special-offer-banner-limited-time-1563094021.jpg" height="650px" class="d-block w-100" alt="...">
        </div>








        <div class="carousel-item">
          <img src="https://images.pexels.com/photos/1124466/pexels-photo-1124466.jpeg" height="650px" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <section class="product">
      <div class="container py-5">
        <div class="row py-5">
        </div>
        <div class="row">
          <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mb-2">
              <div class="card-body">
                <img src="https://images.pexels.com/photos/292999/pexels-photo-292999.jpeg" class="img-fluid" alt="">
              </div>
            </div>
            <h5>SPORTS SHOES</h5>
            <p><i class="bi bi-currency-rupee"></i>1800.00</p>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mb-2">
              <div class="card-body">
                <img src="https://images.pexels.com/photos/19090/pexels-photo.jpg" class="img-fluid" alt="">
              </div>
            </div>
            <h5>FORMAL SHOES</h5>
            <p><i class="bi bi-currency-rupee"></i>2200.00</p>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mb-2">
              <div class="card-body">
                <img src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg" class="img-fluid" alt="">
              </div>
            </div>
            <h5>CASUAL SHOES</h5>
            <p><i class="bi bi-currency-rupee"></i>1500.00</p>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mb-2">
              <div class="card-body">
                <img src="https://images.pexels.com/photos/1124466/pexels-photo-1124466.jpeg" class="img-fluid" alt="">
              </div>
            </div>
            <h5>RUNNING SHOES</h5>
            <p><i class="bi bi-currency-rupee"></i>2000.00</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 text-center m-auto">
            <button class="btn1">Click For More</button>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
